.container {
  width: 50%;
  padding: 0.2em;
}

.video {
  display: flex;
  box-shadow: 2px 3px 15px -2px rgba(0, 0, 0, 1);

  align-items: center;
  display: flex;
  cursor: pointer;
  transition: transform 250ms ease-in;
  align-items: center;
  border: 1px solid lightgray;
}

.video:hover {
  transform: scale(1.02);
}
.thumbnail {
  height: 100%;
  width: 40%;
}

.metadata {
  margin-left: 0.2em;
}
.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}
